@use '../abstracts/mixins' as mix;

.container {
  max-width: 1110px;
  margin-inline: auto;
  height: 100%;
  padding: 0;

  @include mix.screen(laptop) {
    max-width: 960px;
    padding-inline: 3.2rem;
  }

  @include mix.screen(tablet) {
    max-width: 720px;
    padding-inline: 1.5rem;
  }

  @include mix.screen(mobileLandscape) {
    max-width: 540px;
    padding-inline: 1.2rem;
  }

  @include mix.screen(mobile) {
    max-width: 100%;
    padding-inline: 1rem;
  }
}

.logo {
  display: block;
  width: 10.7rem;
  height: 2.4rem;
}
